@charset "utf-8";
/* 외부 CSS 파일 상단에는 반드시 인코딩형식을
지정해야만 문자가 깨짐없이 잘 실행된다 */

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Jua&display=swap');
/* 
    font-family: 'Cute Font', cursive;
    font-family: 'Jua', sans-serif;
*/

/* 초기화 CSS 호출 */
@import url(reset.css);
/* 
    @import url(경로)

    import방식을 사용하는 이유는
    html에서 link방식으로 웹요청(http request)을
    하게 되면 html에서의 디스플레이 속도가 느려진다
    따라서 CSS파일에서 이를 import하여 합친형태로
    html로 가져가면 속도가 향상된다
    - 주의: import는 css파일 상단에 코딩해야함!
*/

/* CGV 메인 페이지 CSS - main.css */
body {
    background-color: #000;
}

/* 레이아웃 공통 */
.part {
    width: 1200px;
    margin: 0 auto;
    /* 블록요소 가로 중앙정렬 */
    outline: 3px dotted yellow;
}

/* 1. 상단부분 */
#top {
    position: relative;
    /* 부모자격-다른 변화가 없어야 하므로 relative! */
    height: 80px;
    background: url(../images/curtain.jpg) repeat-x;
    /* 외부CSS일 경우 이미지폴더는 CSS문서의 위치에서
     찾아야 정확하게 표시된다! */
}
/* 1-1. 페이지타이틀 */
.tit{
    color: aquamarine;
    /* 글자색 */
    font-size: 40px;
    /* 글자크기 */
    line-height: 80px;
    /* 줄간격(세로중앙) */
    text-align: center;
    /* 인라인요소 가로중앙 */
    font-family: 'Jua', sans-serif;
    /* 웹폰트 : Jua체 적용 */

    /* 텍스트 그림자로 글로우 효과 주기 */
    text-shadow: 0 0 10px aquamarine;
}
/* 1-2.전체메뉴(GNB) */
.gnb{
    position: absolute;
    bottom: 15px;
    right: 15px;
    /* 나의 부모는? #top */
}

/* 2. 메인부분 */
#cont {
    height: 788px;
    background: url(../images/bg.jpg) no-repeat;
}

/* 3. 하단부분 */
#info {
    height: 100px;
}