@charset "utf-8";
/* 보그코리아 메인 CSS - main.css */

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

/* 공통 초기화 */
html,body,ol,ul,h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}
img{
    border: none;
}

/* 공통 class */

/* 중앙속박스 */
.ibx{
    width: 1300px;
    max-width: 100%;
    /* 1300px보다 작아지면 100%적용 */
    margin: 0 auto;/* 블록가로중앙 - 마영오! */
    outline: 3px dashed blue;
}

/* 비율유지박스 */
.rbx{
    position: relative;
    /* 부모자격(.rbxIn) */
}
/* 가상요소 패딩비율밀기 */
.rbx::before{
    content: '';
    display: block;
}
/* 스타일별 비율셋팅 */
.st1.rbx::before{/* 1파티션 */
    padding-top: 55.7%;
}
.st3.rbx::before{/* 3파티션 */
    padding-top: 50%;
}
/* 가상요소속박스 */
.rbxIn{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* 파티션 박스 */
.pbx{
    position: relative;
    height: 100%;
    
    /* outline: 2px dotted red; */
}
/* 파티션박스 가상요소로 보더애니구현 */
.pbx::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    /* 보더때문에 커지지 않도록 크기유지! */
    
    border: 0px solid transparent;/* 이거추가!!! */
    transition: all .2s ease-in;
}

/* .pbx에 마우스 오버시 보더 생기기 */
.pbx:hover::after{
    border: 20px solid #f00;
}

/* 파티션 박스 스타일1 */
.st1 .pbx{
    width: 100%;
}
/* 파티션 박스 스타일2 */
.fbx{/* 플랙스박스 */
    display: flex;
}
.st3 .pbx{
    flex: 1;
}

/* 숨기기 class (IR) */
.ir{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* 임시 아웃라인 */
body *{
    outline: 1px dashed #ccc;
}

/*********** 파트별 개별 디자인 ***********/

/* 1. 상단영역 */
.top.ibx{
    height: 206px;
}
/* 1-1.상단메뉴 */
.tmenu{
    display: flex;
    width: 970px;
    height: 44px;
    margin: 0 auto;/* 가로중앙 */
}
.tmenu>div{
    flex: 1;/* 등분할 */
}
/* sns박스 a */
.sns a{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: 0;
    margin-right: 0;
    font-size: 16px;
    /* 안줘도 html에서 상속된 
    글자 기본크기가 16px임 */
    text-align: center;
    /* 박스내의 인라인요소 가로중앙정렬 */
    vertical-align: top;
    /* 인라인 요소간 세로정렬(top-윗줄맞춤) */
    line-height: 16px;
    /* 글자가 박스 세로 중앙에 오도록 설정 */
}
/* 트위터 아이콘 박스 */
.sns a.fi-twitter{
    font-size: 13px;
    /* 가로크기가 16px에 맞게 글자크기조정 */
}
/* 유튜브 아이콘 박스 */
.sns a.fi-youtube-play{
    font-size: 11px;
    /* 가로크기가 16px에 맞게 글자크기조정 */
}

/* 1-2.로고박스 */
.logo{
    text-align: center;
}
/* 1-3.GNB박스 */
.gnb{
    position: relative;
    height: 45px;

    /* 글자설정 */
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: 700;
    line-height: 45px;
}
.gnb>ul{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.gnb>ul>li{
    margin: 0 25px;
}
/* 마지막 검색li의 a요소 */
.gnb li:last-child a{
    display: inline-block;
    width: 16px;
    height: 16px;
    font-weight: bold;
}
/* 링크 트랜지션 */
.gnb a{
    transition: color .3s;
}
/* 마우스 오버시 글자색 */
.gnb a:hover{
    color: #f00;
}

/* 2. 메인영역 */
/* 배경이미지 공통 */
.bgi{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* 개별 배경이미지 class */
.bgi1{
    background-image: url(../images/cont1a.jpg);
}
.bgi2-1{
    background-image: url(../images/cont2-1.jpg);
}
.bgi2-2{
    background-image: url(../images/cont2-2.jpeg);
}
.bgi2-3{
    background-image: url(../images/cont2-3.jpg);
}
.bgi3{
    background-image: url(../images/cont3a.jpg);
}
.bgi4-1{
    background-image: url(../images/cont4-1.jpg);
}
.bgi4-2{
    background-image: url(../images/cont4-2.jpg);
}
.bgi4-3{
    background-image: url(../images/cont4-3.jpg);
}
.bgi5{
    background-image: url(../images/cont5a.jpg);
}
.bgi6-1{
    background-image: url(../images/cont6-1.png);
}
.bgi6-2{
    background-image: url(../images/cont6-2.jpg);
}
.bgi6-3{
    background-image: url(../images/cont6-3.png);
}
.bgi7-1{
    background-image: url(../images/cont7-1.jpg);
}
.bgi7-2{
    background-image: url(../images/cont7-2.jpg);
}
.bgi7-3{
    background-image: url(../images/cont7-3.jpg);
}

/* 3. 하단영역 */
.info.ibx{
    height: 285px;
}

