@charset "utf-8";
/* 웹 다이어리 메인 CSS - main.css */
/* 메인페이지에서만 등장하는 디자인 */

/* 다른 외부 CSS 합치기 */
@import url(reset.css);
@import url(common.css);
/* 
    [ CSS 임포트방식이란? ]
    1. 형식 : @import url(경로)
    2. 위치 : CSS파일 최상단(@charset) 아래에 위치
    3. 사용횟수 : 무제한
    4. 사용이유 : 별도의 CSS외부파일을 html에 넣을때
        link 요소를 이용하여 넣으면 웹요청(http requeset)이
        증가함에따라 html파일의 랜더링 속도가 느려지게 된다!
        따라서 @import로 하나의 CSS파일에서 다른 CSS파일을
        합쳐서(머징하여marging) link하면 속도향상에 도움이 된다!
*/

/* 전체 배경색 */
body{
    background-color: #4d7bf3;
}

/* 1. 전체 컨텐츠 박스 */
.cont{
    position: relative;
    /* 부모자격 */
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    /* 블록요소 가로중앙정렬 - 마영오! */
    background-color: #fff;

    outline: 2px solid red;
}
/* 2.체크배경박스 */
#check{
    position: absolute;
    top: 0;
    left: 0;
    /* 부모는? .cont */
    width: 384px;
    height: 345px;
    background: url(../images/check.png) no-repeat;
}
/* 3.타이틀박스 */
#tit{
    position: absolute;
    top: 0;
    right: 0;
    /* 부모는? .cont */
    width: 620px;
    height: 198px;
    background: url(../images/title.png) no-repeat;
}
/* 4.다이어리박스 */
#diary{
    position: absolute;
    top: 50%;
    left: 50%;
    /* 부모는? .cont */
    transform: translate(-50%,-50%);
    /* 정중앙이동(내크기의 절반가로,세로 이동) */
    margin-left: 15px;
    /* 오른쪽 책갈피 만큼 오른쪽으로 이동 */
    width: 834px;
    height: 500px;
    background: url(../images/diary.png) no-repeat;
}
/* 5.하단바다박스 */
#sea{
    position: absolute;
    bottom: 0;
    left: 0;
    /* 부모는? .cont */
    width: 1000px;
    height: 219px;
    background: url(../images/sea.png) no-repeat;
}