@charset "utf-8";
/* 마이아이템 공통모듈 CSS - common.css */

/* 사이트 전체설정 */
body{
    background-image: url(../images/bg.png);
    font-family: ng,"맑은 고딕",Verdana;
    font-size: 15px;/* 기본글자크기는 16px */
    letter-spacing: -1px;/* 글자간격(기본값은 0) */
    /* 글자셋팅은 하위자손요소로 상속됨! */
}

/* 임시아웃라인표시 */
body *{
    outline: 2px dashed blue;
}

/* 전체 부모박스 */
.wrap{
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
}

#top{
    height: 130px;
}
#cont{
    height: 400px;
}
#info{
    height: 100px;
}