@charset "utf-8";
/* 마이아이템 로그인페이지 CSS - login.css */

/* 외부파일 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 부모박스 상단패딩 */
#cont{
    padding-top: 80px;
}

/* 타이틀 */
.stit{
    width: 700px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 45px;
    color: #777;
    outline: 1px solid red;
}
/* 가상요소로 타이틀 아이콘 넣기 */
.stit::before{
    content: url(../images/login_icon.png);
    vertical-align: 0;
    margin-left: 5px;
    margin-right: 13px;
}
/* 로그인 박스 */
#login{
    position: relative;
    /* 부모자격 */
    width: 700px;
    height: 275px;
    margin: 0 auto;/* 마영오 */
    margin-top: 20px;
    border: 2px solid #737373;
    border-radius: 10px;

    box-sizing: border-box;/* 크기유지 */
    padding-top: 60px;
    padding-left: 15px;

}



