@charset "utf-8";
/* 마이아이템 오시는길 페이지 CSS - map.css */

/* 외부파일 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

#cont{
    overflow: hidden;
}

/* 타이틀 */
.stit{
    width: 700px;
    height: 45px;
    margin: 0 auto;
    margin-top: 80px;
    font-size: 20px;
    line-height: 45px;
    color: #777;
    text-shadow: 1px 1px 1px #999;
    outline: 1px solid red;
}

