@charset "utf-8";
/* 큐브트립 미디어쿼리 CSS - media.css */
/* 미디어쿼리는 다른파일에서 @import방식으로 사용하면 안된다!
반드시 link방식으로 html파일에 삽입한다! */

/* 모바일 미디어쿼리 */
@media only screen and (max-width:950px) {

    /* 1.메뉴박스 
    - 가로로 흐르게 상단에 위치 크기변경*/
    .city {
        top: 0;
        right: auto;
        width: 100%;
    }

    .city ul {
        width: 100%;
    }

    .city li {
        height: 50px;
        width: 16.66%;
        float: left;
    }

    .city a {
        font: bold 32px/50px 'East Sea Dokdo', cursive;
    }

}

/* 미디어쿼리  */