@charset "utf-8";
/* 큐브트립 미디어쿼리 CSS - media.css */
/* 미디어쿼리는 다른파일에서 @import방식으로 사용하면 안된다!
반드시 link방식으로 html파일에 삽입한다! */

/* 모바일 미디어쿼리 */
@media only screen and (max-width:950px) {

    /* 1.메뉴박스 
    - 가로로 흐르게 상단에 위치 크기변경*/
    .city {
        top: 0;
        right: auto;
        width: 100%;
    }

    .city ul {
        width: 100%;
    }

    .city li {
        height: 8vmax;
        width: 16.66%;
        float: left;
    }

    .city a {
        font: bold 5vw/8vmax 'East Sea Dokdo', cursive;
    }

    /* 마우스 오버시 설정 없애기 */
    .city li:hover {
        background-image:
            linear-gradient(to right, transparent, blue) !important;
        transform: none !important;
    }

    /* 3.큐브박스 */
    /* 큐브 */
    .cube {
        top: calc(50% - 100px);
        left: calc(50% - 100px);
        width: 200px;
        height: 200px;
    }

    /* 큐브 각면 셋팅 */
    /* 1. 앞면 */
    .cube>li:nth-child(1) {
        transform: translateZ(100px);
    }

    /* 2. 오른쪽면:런던 */
    .cube>li:nth-child(2) {
        transform: rotateY(90deg) translateZ(100px);
    }

    /* 3. 뒷면:파리 */
    .cube>li:nth-child(3) {
        transform: rotateY(180deg) translateZ(100px);
    }

    /* 4. 왼쪽면:베를린 */
    .cube>li:nth-child(4) {
        transform: rotateY(-90deg) translateZ(100px);
    }

    /* 5. 윗면:서울 */
    .cube>li:nth-child(5) {
        transform: rotateX(90deg) translateZ(100px);
    }

    /* 6. 아랫면:뉴욕 */
    .cube>li:nth-child(6) {
        transform: rotateX(-90deg) translateZ(100px);
    }


}

/* 미디어쿼리  */