@charset "utf-8";
/*서울랜드 핵심 CSS - core.css */
/* 핵심 CSS 범위 : 공통모듈 클래스, 웹폰트 */

/* 웹폰트 - 나눔고딕체 */
@font-face {
    font-family: ng;/* 내가지은이름 */
    src: url(../fonts/NanumGothic.woff) format("woff");
}

/* 속박스 클래스 */
.ibx{
    width: 960px;
    margin: 0 auto;
    outline: 2px dotted red;
}
/* 파티션 박스 클래스 */
.pbx{
    float: left;/* 옆으로 */
    box-sizing: border-box;/* 크기유지 */
    padding: 10px;/* 패딩 */
    outline: 2px dashed blue;
}




/* IR 클래스 (배경이미지 설명 숨기기) */
/* IR(Image Replacement) */
.bld{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* float해제 클래스 */
.clb::after{
    content: '';
    display: block;
    clear: both;
}


