@charset "utf-8";
/* 서울랜드 메인 미디어쿼리 - media.css */

/* 모바일 미디어쿼리 */
@media only screen and (max-width:500px) {

    /* 1. 속박스 크기를 화면에 맞추기! (기존크기 960px) */
    .ibx {
        width: 100vw;
        overflow-x: hidden;
        /* 가로스크롤 숨기기! */
    }

    /* 2. 상단영역 두번째 파티션박스 없애기 */
    .top>div:last-child {
        display: none;
    }

    /* 3. 상단영역 첫번재 파티션(로고포함) 변경하기 */
    .top>div:first-child {
        width: auto;
        float: none;
        text-align: center;
    }

    /* 4. 햄버거 버튼 보이기 */
    #ham{
        display: block;
    }



}

/* 미디어쿼리 */