@charset "utf-8";
/* 언프리티 PJ 메인 CSS - main.css */

/* 공통 */
html,
body {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    /* 부모자격 */
    background-color: #000;
}

/* 검수용이미지넣기 */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* body요소에 밀착-부모는 body */
    background: url(../images/Unpretty_over.jpg) no-repeat center top;
    /* background: 색이반고윙/크 */
    z-index: -1;
    /* z-index: 1; */
    /* 일반요소보다 아래 */
    opacity: 0.7;
}

/* 공통 CSS */

/* 요소숨김 클래스 */
.bld {
    display: none;
}

/* 배경설명숨기기 클래스 */
.ir {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* 전체부모박스 */
.wrap{
    position: relative;
    /* 부모자격 */
    width: 1000px;
    height: 1000px;
    margin: 0 auto;/* 마영오! - 블록가로중앙 */
    outline: 5px solid lime;
    background: url(../images/bg.jpg) no-repeat;
}

/* 1.로고그룹 */
.logo{
    padding-top: 20px;
}
/* 엠넷로고 */
.logo img:first-child{
    margin-left: 20px;/* 이미지 왼쪽여백조정 */
}
/* 언프로고 */
.logo img:last-child{
    float: right;
    /* 인라인요소 오른쪽 끝으로 가기 */
    margin-right: 19px;
}


/* 2.전체큰별 */
#bigstar{
    position: absolute;
    top: 0;
    left: 0;
    /* 부모는? .wrap */
}

/* 3.메인로고 */
#mlogo{
    position: absolute;
    top: 51%;/* 약간조정 */
    left: 50%;
    transform: translate(-50%, -50%);
    /* 앱솔루트 정중앙이동 - 부모는? .wrap */
}

/* 4. 랩퍼컨텐츠박스 */
.cont{
    position: absolute;
    /* 부모자격 */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* 부모박스에 밀착! 부모는? .wrap */
}
/* 각 랩퍼박스 공통 */
.rapper{
    position: absolute;
    /* 부모는? .cont */
    width: 170px;
    height: 170px;
    border: 10px solid #ccc;
    border-radius: 50%;/* 원 */
    box-sizing: border-box;
    /* 보더,패딩내부포함박스(크기유지) */

    /* 배경셋팅 */
    background-color: #000;
    background-image: url(../images/tv3_small.png);
    background-repeat: no-repeat;
    background-position: center 150px;/* x축으로 밀어서 아랫쪽 숨김 */
    background-size: 160px;
}
/* 뮤지션 공통 */
.mu{
    position: absolute;
    top: -10px;
    left: -10px;
    /* 보더크기만큼 위치이동: 부모는? .rapper */
    width: 170px;
    height: 170px;
    border: 10px solid #ccc;
    border-radius: 50%;/* 원 */
    box-sizing: border-box;
    /* 보더,패딩내부포함박스(크기유지) */

    /* 배경셋팅 */
    background-color: #000;
    background-repeat: no-repeat;
    background-size: 199px;

}

/* 1. 애쉬비 */
.r1{
    /* 랩퍼개별위치값 */
    top: 18px;
    left: 416px;
}
.r1 .mu{
    background-image: url(../images/01ash-b.png);
    background-position: -31px 15px;
}
/* 2. 엑시 */
.r2{
    /* 랩퍼개별위치값 */
    top: 70px;
    right: 162px;
}
.r2 .mu{
    background-image: url(../images/01EXY.png);
    background-position: -30px 20px;
}

/* 3. 헤이즈 */
.r3{
    /* 랩퍼개별위치값 */
    top: 289px;
    right: 21px;
}
.r3 .mu{
    background-image: url(../images/01heize.png);
    background-position: -24px -10px;
}

/* 4. 효린 */
.r4{
    /* 랩퍼개별위치값 */
    top: 531px;
    right: 21px;
}
.r4 .mu{
    background-image: url(../images/01hyorin.png);
    background-position: -23px -4px;
    background-size: 222px;
}

/* 5. 전지윤 */
.r5{
    /* 랩퍼개별위치값 */
    bottom: 68px;
    right: 162px;
}
.r5 .mu{
    background-image: url(../images/01jenyer.png);
    background-position: -71px -1px;
    background-size: 251px;
}

/* 6. 캐스퍼 */
.r6{
    /* 랩퍼개별위치값 */
    bottom: 21px;
    left: 416px;
}
.r6 .mu{
    background-image: url(../images/01kasper.png);
    background-position: -46px -1px;
    background-size: 251px;
}