@charset "utf-8";
/* 메인 CSS - main.css */
html,body{
    margin: 0;
    padding: 0;
}
body *{
    outline: 2px dashed blue;
    /* background-color: red; 연결확인 */
}
/* 공통 CSS */

/* 중앙정렬박스 */
.ibx{
    width: 1200px;
    margin: 0 auto;/* 마영오 */
}
/* 파티션박스 */
.pbx{
    float: left;
    height: 100%;/* 부모높이채움! */
    padding: 10px;
    box-sizing: border-box;
    /* 박스가 패딩때문에 커지는 것을 방지! */
}

/* A */
.top{
    height: 100px;
}
/* 파티션가로값 */
.top1{
    width: 200px;
}
.top2{
    width: 1000px;
}

/* B */
.ban{
    height: 300px;
}
/* C */
.cont{
    height: 200px;
}
/* 파티션가로값 (한꺼번에 등분할!) */
.cont>.pbx{
    width: 400px;
}


/* D */
.info{
    height: 100px;
}
/* 파티션가로값 */
.info1{
    width: 200px;
}
.info2{
    width: 800px;
}
.info3{
    width: 200px;
}

